.input-container {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 10px;
  }
  
  .dropdown,
  .binary-input {
    padding: 5px;
    border: 4px solid #2a1539;
    border-radius: 30px;
    outline: none;
    width: 360px;
    font-size: large;
  }

  .dropdown{
    height: 40px;
  }
  .binary-input {
    height: 23px;
  }
  
  .dropdown:focus,
  .binary-input:focus {
    border-color: #2a1539;
  }
  
  .binary-input::placeholder {
    color: #2a1539;
  }

  .dropdown option[value=""][disabled] {
    color: #aaa;
}
  
.refresh-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.refresh-button img {
  width: 40px;
  height: 40px;
}

.binary-input.input-error::placeholder {
  color: red;
  opacity: 1;
}

.binary-input.input-error {
  border: 1px solid red;
}