.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400&display=swap');

.app-title {
  font-family: 'Silkscreen', sans-serif;
  font-size: 35px;
  text-align: center;
  margin-bottom: 0;
}

